<!-- <div class="dashboard-header-container" fxLayout="row">
        <div fxFlex fxLayout="column">
        <span fxFlex class="main-dashboard-header">{{"DASHBOARD_EPAM_SHOPPERS_CART" | translate}}</span>
        <div class="language-bar-container" fxFlex="40px"><app-language-bar></app-language-bar></div>
    </div>
    
    <app-member-profile></app-member-profile>
</div> -->

<div class="dashboard-middle-container" fxLayout="row">
        <div style="height: 100%; width:100%">
    <app-product-list></app-product-list>
</div>