mat-radio-button{
    padding-right:45px;
}
mat-form-field{
    padding:20px 0 0 0; 
}
.radio-group-container{
    padding:20px 0 10px 0;
}
.radio-group-container #label{
    margin-bottom:15px;
}
.navigation-panel{
    margin:20px 0;
    text-align: center;

}
.invalid-label{
    color:red;
}
.valid-label{
    color:black;
}